
//Add new vairables

//Colors
$color-blue:                      #289BC1 ;
$color-gray:                       #ac8ddd;
//Padding
$padding-1 :                      1em !default;
//Margin
$margin-1 :                       1em !default;

//E1
$font-1 :                         13px;
$font-2 :                         15px;
//SubNav
$nabvar_header-size :             42px;
$nabvar_header-font-size :            $font-1;
//Navbar
$navbar-size :                    80px;


$btn-primary-color:              #fff !default;
$btn-primary-bg:                 $color-blue !default;
$btn-primary-border:             $color-blue !default;